@model IEnumerable<PruebasSistemaInventario.Models.Usuario>

@{
    ViewData["Title"] = "Listado de usuarios";
}
<div class="container">
<h1>Listado de usuarios</h1>

<p>
        <a asp-action="Create" class="btn btn-success">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.RolId)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.UsuarioId" class="btn btn-primary">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.UsuarioId" class="btn btn-warning">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.UsuarioId" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
